<div>
    <!-- <app-patients></app-patients> -->
    <h4>Your appointment is booked Successfully!!</h4>
    <h6>Appointment Details:</h6>
    <div >
        <p>
         First Name:  {{patientDetails.firstName}}
        </p>
        <p>
          Last Name:  {{patientDetails.lastName}}
          </p>
          <p>
            Mobile No.:  {{patientDetails.mobile_no}}
          </p>
          <p>
          Doctor Name:  {{patientDetails.doctorName}}
          </p>
          <p>
            Appointment Date:  {{patientDetails.aptdate}}
          </p>
          <p>
            Appointment Time:  {{patientDetails.apttime}}
          </p>
    </div>
</div>
