  <div class="carousel-item active">
        <img src="../assets/images/about1.jpg" class="d-block w-100" alt="...">
     </div>


<div id="header-container">
        <div class="feature-content">
            <div class="feature-content-inner">
  
            <div class="col-3">
                <img src="../assets/images/contact1.jpg" height="330px" width="330px">
                <h2>Phone Directory</h2>
            </div>
            <div class="col-3">
                <img src="../assets/images/contact2.jpg" height="330px" width="330px">
                <h2>Enquiry</h2>
            </div>
            <div class="col-3">
              <img src="../assets/images/contact3.jpg" height="330px" width="330px">
              <h2>Form Control</h2>
          </div>
        </div>
      </div>
    </div>